In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('isolet5.data', sep=",", header=None)
print(data.shape)

(1559, 618)

In [2]:
y_col = data.columns[617]
x_col = data.columns[0:617]

In [3]:
x_test = data[x_col]
y_test = data[y_col]
x_test.head()

,0,1,2,3,4,5,6,7,8,9,...,607,608,609,610,611,612,613,614,615,616
0,-0.2080,0.3480,0.3280,0.5040,0.9320,1.0000,0.8360,0.6680,0.2720,0.2400,...,0.1250,0.2500,-0.0624,0.2188,0.4532,0.1094,0.1718,0.1562,0.0468,-0.3750
1,-0.2864,0.1992,0.2822,0.4398,0.7012,0.7800,1.0000,0.9792,0.5850,0.4066,...,0.4418,-0.0078,-0.1472,-0.1782,0.0078,0.1162,-0.0542,-0.0542,-0.0388,-0.7984
2,-0.2348,0.3826,0.6142,0.7492,0.0546,-0.4020,-0.3504,-0.2990,-0.6848,-0.6528,...,0.2500,0.2834,0.1500,0.0834,-0.2000,-0.1834,0.0500,-0.0166,-0.1834,-0.8666
3,-0.1856,0.3592,0.7126,0.7366,0.3414,0.1018,-0.1556,-0.2514,-0.2514,-0.3892,...,0.1852,0.2840,0.5556,0.4568,0.4568,0.4568,0.2098,0.0370,-0.0618,-0.3334
4,-0.1814,0.4404,0.8394,1.0000,0.7564,0.1866,0.0260,-0.0726,-0.2124,-0.3730,...,0.1948,0.1688,-0.1688,0.2728,0.2988,0.2468,0.1948,-0.0130,-0.2988,-0.7662

In [4]:
y_test = y_test.astype(int)
#y_test = np.transpose(y_test)
print(y_test)

0        1
1        1
2        2
3        2
4        3
        ..
1554    24
1555    25
1556    25
1557    26
1558    26
Name: 617, Length: 1559, dtype: int64

In [5]:
print(np.min(x_test.values))

-1.0

In [6]:
x_test = x_test - np.min(x_test.values)

In [7]:
print(np.min(x_test.values))

0.0

In [8]:
x_test = x_test / np.max(x_test.values) * 255

In [9]:
x_test.head()

,0,1,2,3,4,5,6,7,8,9,...,607,608,609,610,611,612,613,614,615,616
0,100.9800,171.8700,169.3200,191.7600,246.3300,255.0000,234.090,212.6700,162.1800,158.1000,...,143.4375,159.3750,119.544,155.3970,185.2830,141.4485,149.4045,147.4155,133.4670,79.6875
1,90.9840,152.8980,163.4805,183.5745,216.9030,226.9500,255.000,252.3480,202.0875,179.3415,...,183.8295,126.5055,108.732,104.7795,128.4945,142.3155,120.5895,120.5895,122.5530,25.7040
2,97.5630,176.2815,205.8105,223.0230,134.4615,76.2450,82.824,89.3775,40.1880,44.2680,...,159.3750,163.6335,146.625,138.1335,102.0000,104.1165,133.8750,125.3835,104.1165,17.0085
3,103.8360,173.2980,218.3565,221.4165,171.0285,140.4795,107.661,95.4465,95.4465,77.8770,...,151.1130,163.7100,198.339,185.7420,185.7420,185.7420,154.2495,132.2175,119.6205,84.9915
4,104.3715,183.6510,234.5235,255.0000,223.9410,151.2915,130.815,118.2435,100.4190,79.9425,...,152.3370,149.0220,105.978,162.2820,165.5970,158.9670,152.3370,125.8425,89.4030,29.8095

In [10]:
data_test = pd.concat([y_test, x_test], axis=1)

In [11]:
data_test.head()

,617,0,1,2,3,4,5,6,7,8,...,607,608,609,610,611,612,613,614,615,616
0,1,100.9800,171.8700,169.3200,191.7600,246.3300,255.0000,234.090,212.6700,162.1800,...,143.4375,159.3750,119.544,155.3970,185.2830,141.4485,149.4045,147.4155,133.4670,79.6875
1,1,90.9840,152.8980,163.4805,183.5745,216.9030,226.9500,255.000,252.3480,202.0875,...,183.8295,126.5055,108.732,104.7795,128.4945,142.3155,120.5895,120.5895,122.5530,25.7040
2,2,97.5630,176.2815,205.8105,223.0230,134.4615,76.2450,82.824,89.3775,40.1880,...,159.3750,163.6335,146.625,138.1335,102.0000,104.1165,133.8750,125.3835,104.1165,17.0085
3,2,103.8360,173.2980,218.3565,221.4165,171.0285,140.4795,107.661,95.4465,95.4465,...,151.1130,163.7100,198.339,185.7420,185.7420,185.7420,154.2495,132.2175,119.6205,84.9915
4,3,104.3715,183.6510,234.5235,255.0000,223.9410,151.2915,130.815,118.2435,100.4190,...,152.3370,149.0220,105.978,162.2820,165.5970,158.9670,152.3370,125.8425,89.4030,29.8095

In [12]:
data_test.shape

(1559, 618)

In [13]:
data_test.sample(frac=1, random_state=2021)

,617,0,1,2,3,4,5,6,7,8,...,607,608,609,610,611,612,613,614,615,616
181,14,92.9220,148.3590,155.7540,170.0085,203.5155,198.5175,178.4490,155.4735,154.9635,...,153.4845,193.1115,188.1645,153.4845,108.9360,101.5155,106.4625,94.0695,74.2815,47.0475
49,25,94.6305,165.3420,193.7490,192.7545,231.5910,241.0515,255.0000,236.0790,233.0955,...,194.2845,223.4310,177.2760,221.0085,223.4310,250.1550,223.4310,128.7240,106.8450,72.8535
515,25,79.4580,138.0825,228.7350,240.2610,251.4810,255.0000,235.1355,224.2470,146.0895,...,172.4310,201.5775,177.2760,145.7070,135.9915,143.2845,133.5690,135.9915,131.1465,55.8450
1033,24,50.6685,143.8455,158.5590,235.3905,255.0000,205.9635,114.4185,106.2585,73.5675,...,222.4875,196.8090,200.2260,205.3770,213.9195,232.7640,207.0855,208.7940,184.8240,148.8945
534,8,49.0365,94.4010,133.6200,137.9295,183.2940,175.3125,116.4585,113.3985,118.9065,...,218.7645,249.4155,255.0000,241.0770,210.4005,220.1670,221.5695,228.5310,227.1285,176.9700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,26,111.0270,165.4695,255.0000,249.9765,99.5520,111.0270,96.6960,90.2445,64.4640,...,184.7220,206.8050,174.6750,154.6065,166.6425,156.6210,152.5920,156.6210,92.3610,68.2635
1152,5,58.1400,128.3160,140.9385,125.0265,76.2195,64.7190,57.0435,26.3160,25.2195,...,123.9810,131.0190,131.0190,140.3775,138.0315,131.0190,109.9560,105.2640,119.3145,51.4590
57,3,90.8565,177.2250,186.1500,225.3690,214.8375,117.3000,102.0000,124.0065,110.6190,...,183.8295,151.2150,157.1565,145.2990,106.7430,163.0725,139.3575,145.2990,133.4415,100.8015
1365,8,48.3225,66.8355,153.2040,178.9080,171.7170,113.0925,77.1120,59.6445,52.4280,...,180.2850,206.2695,170.5440,168.9120,172.1760,125.0520,125.0520,129.9480,128.3160,100.6995
1140,25,85.8840,166.5150,252.3735,255.0000,185.5125,218.2800,192.7290,130.4580,104.8815,...,98.6085,173.4000,183.6000,183.6000,122.4000,129.2085,122.4000,135.9915,146.1915,81.6000

In [14]:
train, validate, test = np.split(data_test.sample(frac=1), [int(.6*len(data_test)), int(.8*len(data_test))])
train.head()

,617,0,1,2,3,4,5,6,7,8,...,607,608,609,610,611,612,613,614,615,616
179,12,80.4780,129.7185,167.2290,182.8605,222.4365,210.7320,166.9485,172.1760,169.8300,...,220.8045,189.6945,189.6945,186.5835,130.6110,171.0285,186.5835,195.9165,186.5835,124.3890
1217,12,91.5450,127.2705,125.0520,186.6600,217.0305,235.7985,181.7640,126.8370,122.3745,...,157.0800,144.8400,142.8000,140.7600,148.9200,136.6800,140.7600,132.6000,104.0400,51.0000
842,6,41.1315,89.5815,108.7575,195.5850,229.3980,209.3040,133.4415,114.2400,119.7225,...,212.8485,179.1375,191.7855,202.3170,225.4965,255.0000,233.9370,227.6130,172.8135,84.3030
251,23,109.0380,179.9025,255.0000,245.3100,252.5775,209.5845,204.1275,192.6015,145.9620,...,185.4615,208.6410,168.8865,178.8315,211.9560,205.3260,152.3370,178.8315,149.0220,72.8535
1165,12,59.5425,127.2195,132.0900,199.7670,236.0535,233.8860,187.3230,129.9480,122.3490,...,175.1085,156.6975,141.3210,138.2610,107.5335,92.1570,144.4065,147.4665,181.2540,125.9700